[user]
	name = ericdd
	email = 260741887@qq.com
[core]
	autocrlf = false
[gui]
	encoding = utf-8
[alias]
	st = status
	co = checkout --
	cm = commit -m 
	ca = commit --amend
	br = branch
	rhe = reset HEAD
	rh = reset --hard
	rhh = reset --hard HEAD^
	ref = reflog -10
	logs = log --oneline -10
	logp = log --pretty=oneline
	loga = log --oneline
	logl = log -1
	latest = for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname:short) [%(committername)]'
	ls = log --pretty=format:\"%C(yellow)%h %C(white)%ad %C(red)%d %C(reset)%s %C(green)[%cn]\" --decorate --date=short
	hist = log --pretty=format:\"%C(yellow)%h %C(red)%d %C(reset)%s %C(green)[%an] %C(white)%ad\" --topo-order --graph --date=short
	puo = push -u origin master
	puf = push -f origin master

[push]
	default = current
