[user]
	name = anni
	email = 986387040@qq.com
[core]
	autocrlf = false
[gui]
	encoding = utf-8
[alias]
	st = status
	co = checkout --
	cm = commit -m 
	ca = commit --amend
	br = branch
	rhe = reset HEAD
	rh = reset --hard
	rhh = reset --hard HEAD^
	ref = reflog -20 --pretty=format:\"%C(yellow)%h %C(white)%ad %C(green)%cn %C(red)%d %C(reset)%s\" --decorate  --date=format:'%Y-%m-%d %H:%M:%S'
	logs = log --oneline -10 --pretty=format:\"%C(yellow)%h %C(green)%cn %C(red)%d %C(reset)%s\" --decorate 
	loga = log -1
	logp = log --pretty=oneline
	log = log --oneline
	latest = for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname:short) [%(committername)]'
	ls = log -15 --pretty=format:\"%C(yellow)%h %C(white)%ad %C(green)%cn %C(red)%d %C(reset)%s\" --decorate  --date=format:'%Y-%m-%d %H:%M:%S'
	hist = log -30 --pretty=format:\"%C(yellow)%h %C(red)%d %C(reset)%s %C(green)[%an] %C(white)%ad\" --topo-order --graph --date=short
	pu = push origin master
	puo = push -u origin master
	puf = push -f origin master
	conf = config -l 
[mergetool]
    prompt = true
    keepBackup = false
