[user]
	name = ericdd
	email = 260741887@qq.com
[core]
	autocrlf = false
[gui]
	encoding = utf-8
[alias]
	st = status
	co = checkout --
	cm = commit -m 
	ca = commit --amend
	br = branch
	dt = difftool
	rhe = reset HEAD
	rh = reset --hard
	rhh = reset --hard HEAD^
	mt = mergetool
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	loga = log --oneline
	logs = log --oneline -10
	logp = log --pretty=oneline
	logl = log -1
	ref = reflog -10
	latest = for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname:short) [%(committername)]'
	ls = log --pretty=format:\"%C(yellow)%h %C(white)%ad %C(red)%d %C(reset)%s %C(green)[%cn]\" --decorate --date=short
	hist = log --pretty=format:\"%C(yellow)%h %C(red)%d %C(reset)%s %C(green)[%an] %C(white)%ad\" --topo-order --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	puo = push -u origin master
	puf = push -f origin master
	

[push]
	default = current
